<label class="control-label">{{i18n "weekly_newsletter.receive_emails_label"}}</label>
{{preference-checkbox labelKey="weekly_newsletter.receive_emails" checked=user.custom_fields.receive_newsletter}}